<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="../../../static/css/pintuer.css">
    <link rel="stylesheet" href="../../../static/css/admin.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">

</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 销售管理 </strong></div>
    <div class="padding border-bottom">
        <button type="button" class="button border-yellow" id="btn-add"><span
                class="icon-plus-square-o"></span> 添加记录
        </button>
    </div>
    <table class="table table-hover text-center" id="main-table">
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">销售信息</h4>
            </div>
            <div class="modal-body">
                <div class="panel admin-panel margin-top">
                    <div class="body-content">
                        <form method="post" class="form-x" action="">

                            <div class="form-group">
                                <div class="label" style="width: 70px;">
                                    <label>车辆型号：</label>
                                </div>
                                <div class="field">
                                    <select class="form-control" name="s_title" id="select_goodsId" onchange="typeChange(this)">
                                        <option value="" price="0">请选择型号</option>
                                        <option th:each="goods : ${goodsList}" th:value="${goods.id}" th:text="${goods.name}" th:price="${goods.price}"></option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="label" style="width: 70px;">
                                    <label>车辆售价：</label>
                                </div>
                                <div class="field">
                                    <input type="text" class="input" value="0" name="s_title" id="input_price" onkeyup="value=value.replace(/[^\d\.]/g,'')"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="label" style="width: 70px;">
                                    <label>销售员：</label>
                                </div>
                                <div class="field">
                                    <input type="text" class="input" name="s_title" id="input_salerName"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="label" style="width: 70px;">
                                    <label>实际售价：</label>
                                </div>
                                <div class="field">
                                    <input type="text" class="input" name="s_title" id="input_amount" onkeyup="value=value.replace(/[^\d\.]/g,'')"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="label" style="width: 70px;">
                                    <label>售出数量：</label>
                                </div>
                                <div class="field">
                                    <input type="text" class="input" name="s_title" id="input_count" onkeyup="value=value.replace(/[^\d\.]/g,'')"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="label" style="width: 70px;">
                                    <label>备注：</label>
                                </div>
                                <div class="field">
                                    <textarea name="scopyright" class="input" style="height:120px;" id="input_introduction"></textarea>
                                    <!--<input type="text" class="input" name="s_keywords" id="input_introduction"/>-->
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success" id="btn-insert">添加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>
<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/pintuer.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/admin.js"></script>
<script>

    var kCount
    var kDeleteId
    var kPageNumber

    $(function () {
        kPageNumber = 0
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../sale/count",
            data: {},
            success: function (data) {
                kCount = data
                requestList()
            },
            error: function () {
                alert("系统错误")
            }
        })

        $("#btn-add").click(function () {
            showAddModel()
        })
//        $("#btn-insert").click(function () {
//            addAccount()
//        })
//        $("#btn-update").click(function () {
//            updateRequest()
//        })
    })

    function typeChange(selector) {
        $("#input_price").val($(selector).find("option:selected").attr("price"));
    }

    function requestList() {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../sale/selectByPageNumber",
            data: {
                pageNumber: kPageNumber
            },
            success: function (data) {
                generateList(data)
            },
            error: function (data) {
                alert("系统错误")
            }
        })
    }

    function generateList(data) {
        if (data.length <= 0) return

        var tempStr = "<tr>\n" +
            "            <th width=\"5%\">ID</th>\n" +
            "            <th width=\"15%\">车辆型号</th>\n" +
            "            <th width=\"10%\">车辆售价</th>\n" +
            "            <th width=\"10%\">销售员</th>\n" +
            "            <th width=\"10%\">实际售价</th>\n" +
            "            <th width=\"10%\">售出数量</th>\n" +
            "            <th width=\"10%\">销售时间</th>\n" +
            "            <th width=\"10%\">操作</th>\n" +
            "        </tr>";
        for (var i = 0; i < data.length; i++) {
            var tempDate = new Date()
            tempDate.setTime(data[i].createTime)

            tempStr += "<tr>"
            tempStr += "<td>" + data[i].id + "</td>\n"
            tempStr += "<td>" + data[i].name + "</td>\n"
            tempStr += "<td>" + data[i].price + "</td>\n"
            tempStr += "<td>" + data[i].salerName + "</td>\n"
            tempStr += "<td>" + data[i].amount + "</td>\n"
            tempStr += "<td>" + data[i].count + "</td>\n"
            tempStr += "<td>" + tempDate.toLocaleString() + "</td>\n"
            tempStr += "<td><div class=\"button-group\">" +
                "<a class=\"button border-main\" onclick='showUpdateModel(" + JSON.stringify(data[i]) + ")'><span class=\"icon-edit\"></span> 修改</a>" +
                "<a class=\"button border-red\" href=\"javascript:void(0)\" onclick=\"showDeleteModel(" + data[i].id + ")\"><span class=\"icon-trash-o\"></span> 删除</a>" +
                "</div></td>"
            tempStr += "</tr>"
        }
        tempStr += "<tr>\n" +
            "        <td colspan=\"8\"><div class=\"pagelist\"> <a onclick='lastPage()'>上一页</a><a id='display-page'>第" + (kPageNumber + 1) + "页，共" + (parseInt(kCount / 8) + (kCount % 8 == 0 ? 0 : 1)) + "页</a><a onclick='nextPage()'>下一页</a><a onclick='endPage()'>尾页</a> </div></td>\n" +
            "      </tr>"
        $("#main-table").empty()
        $("#main-table").append(tempStr)
    }

    // model 显示控制
    function showDeleteModel(id) {
        kDeleteId = id
        addDialog("是否删除？", "是否删除？", "deleteModal", deleteRequest)
        showDialog("deleteModal")
    }

    function showAddModel() {
        showDialog("addModel")

        $("#btn-insert").text("添加")
        $("#btn-insert").off("click").click(function () {
            addAccount()
        })
    }

    function showUpdateModel(data) {
        kUpdateId = data.id
        $("#select_goodsId").val(data.goodsId)
        $("#input_price").val(data.price)
        $("#input_salerName").val(data.salerName)
        $("#input_amount").val(data.amount)
        $("#input_count").val(data.count)
        $("#input_introduction").val(data.introduction)
        showDialog("addModel")
        $("#btn-insert").text("保存")
        $("#btn-insert").off("click").click(function () {
            updateRequest()
        })
    }

    // 增删改接口请求

    function addAccount() {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../sale/insert",
            data: {
                goodsId: $("#select_goodsId").val(),
                price: $("#input_price").val(),
                salerName: $("#input_salerName").val(),
                amount: $("#input_amount").val(),
                count: $("#input_count").val(),
                introduction: $("#input_introduction").val()
            },
            success: function (data) {
                if (data == -1){
                    alert("该用户名已被注册")
                    return
                }
                alert("添加成功")
                hideDialog("addModel")
                requestList()
            },
            error: function (data) {
                alert("系统错误")
            }
        })
    }

    function deleteRequest() {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../sale/deleteByPrimaryKey",
            data: {
                id: kDeleteId
            },
            success: function (data) {
                alert("删除成功")
                requestList()
            },
            error: function (data) {
                alert("系统错误")
            }
        })
    }

    function updateRequest() {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../sale/update",
            data: {
                id: kUpdateId,
                goodsId: $("#select_goodsId").val(),
                price: $("#input_price").val(),
                salerName: $("#input_salerName").val(),
                amount: $("#input_amount").val(),
                count: $("#input_count").val(),
                introduction: $("#input_introduction").val()
            },
            success: function (data) {
                alert("修改成功")
                hideDialog("addModel")
                requestList()
            },
            error: function (data) {
                alert("系统错误")
            }
        })
    }

    function lastPage() {
        if (kPageNumber == 0) {
            alert("已经是第一页")
            return
        }

        kPageNumber = kPageNumber - 1
        requestList()
    }

    function nextPage() {
        if (kPageNumber == parseInt(kCount / 8) || kCount == kPageNumber * 8 + 8) {
            alert("已经是最后一页了")
            return
        }
        kPageNumber = kPageNumber + 1
        requestList()

    }

    function endPage() {
        kPageNumber = parseInt(kCount / 8)
        requestList()
    }

</script>
</html>