<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="../../static/css/pintuer.css">
    <link rel="stylesheet" href="../../static/css/admin.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">

</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 仓库管理 </strong></div>
    <div class="padding border-bottom">
        <button type="button" class="button border-yellow" id="btn-add"><span
                class="icon-plus-square-o"></span> 添加记录
        </button>
    </div>
    <table class="table table-hover text-center" id="main-table">
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">仓库信息</h4>
            </div>
            <div class="modal-body">
                <div class="panel admin-panel margin-top">
                    <div class="body-content">
                        <form method="post" class="form-x" action="">

                            <div class="form-group">
                                <div class="label" style="width: 70px;">
                                    <label>型号：</label>
                                </div>
                                <div class="field">
                                    <!--<input type="text" class="input" name="s_title" id="input_carType"/>-->
                                    <select id="sel_goods" class="form-control">
                                        <option value="">无</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="label" style="width: 70px;">
                                    <label>数量：</label>
                                </div>
                                <div class="field">
                                    <input type="text" class="form-control" name="s_title" id="inp_count"
                                           onkeyup="value=value.replace(/[^\d\.]/g,'')"/>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success" id="btn-insert">添加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</body>
<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/pintuer.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/admin.js"></script>
<script>

    var kCount
    var kDeleteId
    var kPageNumber

    $(function () {
        kPageNumber = 0
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../store/count",
            data: {},
            success: function (data) {
                kCount = data
                requestList()
            },
            error: function (data) {
                alert("系统错误")
            }
        })
        requestGoods()

        $("#btn-add").click(function () {
            showAddModel()
        })
    })

    function requestList() {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../store/selectByPageNumber",
            data: {
                pageNumber: kPageNumber
            },
            success: function (data) {
                generateList(data)
            },
            error: function (data) {
                alert("系统错误")
            }
        })
    }

    function requestGoods() {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../goods/getAll",
            data: {},
            success: function (data) {
                $("#sel_goods").empty()
                for (var i = 0; i < data.length; i++) {
                    $("#sel_goods").append("<option value='" + data[i].id + "'>" + data[i].name + "</option>")
                }
            },
            error: function (data) {
                alert("系统错误")
            }
        })
    }

    function generateList(data) {
        $("#main-table").empty()
        if (data.length <= 0) return

        var tempStr = "<tr>\n" +
            "            <th width=\"5%\">ID</th>\n" +
            "            <th width=\"15%\">商品名称</th>\n" +
            "            <th width=\"10%\">商品介绍</th>\n" +
            "            <th width=\"10%\">进货数量</th>\n" +
            "            <th width=\"10%\">操作</th>\n" +
            "        </tr>";
        for (var i = 0; i < data.length; i++) {
            var tempDate = new Date()

            tempStr += "<tr>"
            tempStr += "<td>" + data[i].id + "</td>\n"
            tempStr += "<td>" + data[i].name + "</td>\n"
            tempStr += "<td>" + data[i].introduction + "</td>\n"
            tempStr += "<td>" + data[i].count + "</td>\n"
            tempStr += "<td><div class=\"button-group\">" +
                "<a class=\"button border-red\" href=\"javascript:void(0)\" onclick=\"showDeleteModel(" + data[i].id + ")\"><span class=\"icon-trash-o\"></span> 删除</a>" +
                "</div></td>"
            tempStr += "</tr>"
        }
        tempStr += "<tr>\n" +
            "        <td colspan=\"8\"><div class=\"pagelist\"> <a onclick='lastPage()'>上一页</a><a id='display-page'>第" + (kPageNumber + 1) + "页，共" + (parseInt(kCount / 8) + (kCount % 8 == 0 ? 0 : 1)) + "页</a><a onclick='nextPage()'>下一页</a><a onclick='endPage()'>尾页</a> </div></td>\n" +
            "      </tr>"

        $("#main-table").append(tempStr)
    }

    // model 显示控制
    function showDeleteModel(id) {
        kDeleteId = id
        addDialog("是否删除？", "是否删除？", "deleteModal", deleteRequest)
        showDialog("deleteModal")
    }

    function showAddModel() {

        $("#sel_goods").val("")
        showDialog("addModel")

        $("#btn-insert").text("添加")
        $("#btn-insert").off("click").click(function () {
            if (checkInput()) {
                addAccount();
            } else {
                alert("信息填写不完整，提交失败");
            }
        })
    }

    function checkInput() {
        let flag = true;
        $(".form-control").each(function () {
            const text = $(this).val();
            if (text == null || text === "") {
                $(this).focus();
                $(this).css("border-color","red");
                flag = false;
            } else {
                $(this).css("border-color","green");
            }
        });

        return flag;
    }

    // 增删改接口请求

    function addAccount() {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../store/insert",
            data: {
                count: $("#inp_count").val(),
                tbGoodsId: $("#sel_goods").val()
            },
            success: function (data) {
                alert("添加成功")
                hideDialog("addModel")
                requestList()
            },
            error: function (data) {
                alert("系统错误")
            }
        })
    }

    function deleteRequest() {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../store/delete",
            data: {
                id: kDeleteId
            },
            success: function (data) {
                alert("删除成功")
                requestList()
            },
            error: function (data) {
                alert("系统错误")
            }
        })
    }



    function lastPage() {
        if (kPageNumber == 0) {
            alert("已经是第一页")
            return
        }

        kPageNumber = kPageNumber - 1
        requestList()
    }

    function nextPage() {
        if (kPageNumber == parseInt(kCount / 8) || kCount == kPageNumber * 8 + 8) {
            alert("已经是最后一页了")
            return
        }
        kPageNumber = kPageNumber + 1
        requestList()

    }

    function endPage() {
        kPageNumber = parseInt(kCount / 8)
        requestList()
    }

</script>
</html>