<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="../../../static/css/pintuer.css">
    <link rel="stylesheet" href="../../../static/css/admin.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">

</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 用户管理 </strong></div>
    <div class="padding border-bottom">
        <button type="button" class="button border-yellow" id="btn-add"><span
                class="icon-plus-square-o"></span> 添加用户
        </button>
    </div>
    <table class="table table-hover text-center" id="main-table">
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="addModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">用户信息</h4>
            </div>
            <div class="modal-body">
                <div class="panel admin-panel margin-top">
                    <div class="body-content">
                        <form method="post" class="form-x" action="">

                            <div class="form-group">
                                <div class="label">
                                    <label>账号：</label>
                                </div>
                                <div class="field">
                                    <input type="text" class="input" name="s_title" id="input_account"/>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="label">
                                    <label>密码：</label>
                                </div>
                                <div class="field">
                                    <input type="text" class="input" name="s_title" id="input_password"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="label">
                                    <label>会员：</label>
                                </div>
                                <div class="field">
                                    <select name="pid" class="input" id="select_vip">
                                        <option value="0">普通用户</option>
                                        <option value="1">会员用户</option>
                                    </select>
                                    <div class="tips">设置用户是否为会员</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="label">
                                    <label>积分：</label>
                                </div>
                                <div class="field">
                                    <input type="number" class="input" name="s_keywords" id="input_score" value="0"/>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success" id="btn-insert">添加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="updateModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">添加用户</h4>
            </div>
            <div class="modal-body">
                <div class="panel admin-panel margin-top">
                    <div class="body-content">
                        <form method="post" class="form-x" action="">

                            <div class="form-group">
                                <div class="label">
                                    <label>账号：</label>
                                </div>
                                <div class="field">
                                    <input type="text" class="input" name="s_title" id="input_up_account" disabled />
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="label">
                                    <label>密码：</label>
                                </div>
                                <div class="field">
                                    <input type="text" class="input" name="s_title" id="input_up_password" disabled />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="label">
                                    <label>会员：</label>
                                </div>
                                <div class="field">
                                    <select name="pid" class="input w50" id="select_up_vip">
                                        <option value="0">普通用户</option>
                                        <option value="1">会员用户</option>
                                    </select>
                                    <div class="tips">设置用户是否为会员</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="label">
                                    <label>积分：</label>
                                </div>
                                <div class="field">
                                    <input type="text" class="input" name="s_keywords" id="input_up_score" />
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success" id="btn-update">确定修改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/pintuer.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/admin.js"></script>
<script>

    var kCount
    var kDeleteId
    var kPageNumber

    $(function () {
        kPageNumber = 0
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../account/count",
            data: {},
            success: function (data) {
                kCount = data
                requestList()
            },
            error: function (data) {
                alert("系统错误")
            }
        })

        $("#btn-add").click(function () {
            showAddModel()
        })
        $("#btn-insert").click(function () {
            if (checkInput()) {
                addAccount()
            } else {
                alert("信息填写不完整，提交失败")
            }
        })
        $("#btn-update").click(function () {
            updateRequest()
        })
    })

    function checkInput() {
        let flag = true;
        $(".input").each(function () {
            const text = $(this).val();
            if (text == null || text === "") {
                $(this).focus();
                $(this).css("border-color","red");
                flag = false;
            } else {
                $(this).css("border-color","green");
            }
        });

        return flag;
    }

    function requestList() {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../account/selectUserByPageNumber",
            data: {
                pageNumber: kPageNumber
            },
            success: function (data) {
                generateList(data)
            },
            error: function (data) {
                alert("系统错误")
            }
        })
    }

    function generateList(data) {
        if (data.length <= 0) return

        var tempStr = "<tr>\n" +
            "            <th width=\"5%\">ID</th>\n" +
            "            <th width=\"15%\">用户</th>\n" +
            "            <th width=\"10%\">用户权限</th>\n" +
            "            <th width=\"10%\">积分</th>\n" +
            "            <th width=\"10%\">操作</th>\n" +
            "        </tr>";
        for (var i = 0; i < data.length; i++) {
            tempStr += "<tr>"
            tempStr += "<td>" + data[i].id + "</td>\n"
            tempStr += "<td>" + data[i].username + "</td>\n"
            tempStr += "<td>" + (data[i].isVip == 0 ? "普通用户" : "会员用户") + "</td>\n"
            tempStr += "<td>" + (data[i].integral != null ? data[i].integral : "0") + "</td>\n"
            tempStr += "<td><div class=\"button-group\">" +
                "<a class=\"button border-main\" onclick='showUpdateModel(" + JSON.stringify(data[i]) + ")'><span class=\"icon-edit\"></span> 修改</a>" +
                "<a class=\"button border-red\" href=\"javascript:void(0)\" onclick=\"showDeleteModel(" + data[i].id + ")\"><span class=\"icon-trash-o\"></span> 删除</a>" +
                "</div></td>"
            tempStr += "</tr>"
        }
        tempStr += "<tr>\n" +
            "        <td colspan=\"8\"><div class=\"pagelist\"> <a onclick='lastPage()'>上一页</a><a id='display-page'>第" + (kPageNumber + 1) + "页，共" + (parseInt(kCount / 8) + (kCount % 8 == 0 ? 0 : 1)) + "页</a><a onclick='nextPage()'>下一页</a><a onclick='endPage()'>尾页</a> </div></td>\n" +
            "      </tr>"
        $("#main-table").empty()
        $("#main-table").append(tempStr)
    }

    // model 显示控制
    function showDeleteModel(id) {
        kDeleteId = id
        addDialog("是否删除？", "是否删除？", "deleteModal", deleteRequest)
        showDialog("deleteModal")
    }
    
    function showAddModel() {
        $("#input_password").val("")
        $("#input_account").val("")
        $("#select_vip").val("0")
        $("#input_score").val("0")
        showDialog("addModel")
    }

    function showUpdateModel(data) {
        kUpdateId = data.id
        $("#input_up_account").val(data.username)
        $("#input_up_password").val("******")
        $("#select_up_vip").val(data.isVip)
        $("#input_up_score").val(data.integral)
        showDialog("updateModel")
    }

    // 请求
    function updateRequest() {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../account/updateAccount",
            data: {
                id: kUpdateId,
                integral: $("#input_up_score").val(),
                isVip: $("#select_up_vip").val()
            },
            success: function (data) {
                alert("修改成功")
                hideDialog("updateModel")
                requestList()
            },
            error: function (data) {
                alert("系统错误")
            }
        })
    }

    function deleteRequest() {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../account/delAccountById",
            data: {
                id: kDeleteId
            },
            success: function (data) {
                alert("删除成功")
                requestList()
            },
            error: function (data) {
                alert("系统错误")
            }
        })
    }

    function addAccount() {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../account/addAccount",
            data: {
                username: $("#input_account").val(),
                userPwd: $("#input_password").val(),
                isVip: $("#select_vip").val(),
                integral: $("#input_score").val()
            },
            success: function (data) {
                if (data == -1){
                    alert("该用户名已被注册")
                    return
                }
                alert("添加成功")
                hideDialog("addModel")
                requestList()
            },
            error: function (data) {
                alert("系统错误")
            }
        })
    }

    function lastPage() {
        if (kPageNumber == 0) {
            alert("已经是第一页")
            return
        }

        kPageNumber = kPageNumber - 1
        requestList()
    }

    function nextPage() {
        if (kPageNumber == parseInt(kCount / 8) || kCount == kPageNumber * 8 + 8) {
            alert("已经是最后一页了")
            return
        }
        kPageNumber = kPageNumber + 1
        requestList()

    }

    function endPage() {
        kPageNumber = parseInt(kCount / 8)
        requestList()
    }

</script>
</html>