<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>卡其汽车4S店管理系统</title>
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--<link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>-->
</head>

<body>
<!---start-wrap--->
<div class="wrap">
    <!---start-header--->
    <div class="header">
        <!---start-top-header--->
        <div class="top-header" style="display: none;">
            <div class="top-header-left">
                <ul>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Specials</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="top-header-right">
                <ul>
                    <li><a href="#">CURRENCY:</a></li>
                    <li>
                        <select>
                            <option>Dollar</option>
                            <option>Euro</option>
                            <option>Pound</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="sub-header" style="margin-top: 24px;">
            <div class="logo">
                <a href="index.html"><img src="../../static/images/logo.png" title="logo"/></a>
            </div>
            <div class="sub-header-right">
                <ul>
                    <li><a id="li_login">登录</a></li>
                    <li><a id="li_account">我的账户</a></li>
                    <li><a id="li_shopping_car">购物车 <img src="../../static/images/cart.png" title="cart"/></a></li>
                </ul>
                <!--<input type="text"><input type="submit" value="查找"/>-->
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="top-nav">
            <ul>
                <li><a id="li_home">主页</a></li>
                <li><a id="li_news">最新资讯</a></li>
                <li><a id="li_score">商城</a></li>
                <li><a id="li_car_fix">车辆维护</a></li>
                <li><a id="li_question">咨询服务</a></li>
                <li><a id="li_report">问卷调查</a></li>
                <!--<li><a href="login.html">Feedback</a></li>-->
                <div class="clear"></div>
            </ul>
        </div>
        <!---end-top-header--->
        <!---End-header--->
    </div>
    <div class="content">
        <div class="contact">
            <div class="section group">
                <div class="col span_1_of_3">
                    <div class="contact_info">
                        <h3>卡其汽车4S店管理系统</h3>
                        <img src="../../static/images/11.jpg" width="100%" height="180" />
                    </div>
                </div>
                <div class="col span_2_of_3">
                    <div class="contact-form">
                        <h3>账号登录</h3>
                        <form>
                            <div>
                                <span><label>账号</label></span>
                                <span><input type="text" value="" id="input_account"></span>
                            </div>
                            <div>
                                <span><label>密码</label></span>
                                <span><input type="password" value="" id="input_password"></span>
                            </div>
                            <div>
                                <button id="btn_login" type="button">登 录</button>
                                <a href="register">没有账号？点击此处注册</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer">
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h3>INFORMATION</h3>
                <ul>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">位置信息</a></li>
                    <li><a href="#">联系方式</a></li>
                    <li><a href="#">团队精神</a></li>
                    <li><a href="#">法律责任</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h3>OUR OFFERS</h3>
                <ul>
                    <li><a href="#">最新产品</a></li>
                    <li><a href="#">今日特价</a></li>
                    <li><a href="#">全部产品</a></li>
                    <li><a href="#">维护套餐</a></li>
                    <li><a href="#">维护预约</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h3>YOUR ACCOUNT</h3>
                <ul>
                    <li><a href="#">我的账号</a></li>
                    <li><a href="#">会员信息</a></li>
                    <li><a href="#">积分详情</a></li>
                    <li><a href="#">收货地址</a></li>
                    <li><a href="#">我的购物车</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4 footer-lastgrid">
                <h3>Get in touch</h3>
                <ul>
                    <li><a href="#"><img src="../../static/images/facebook.png" title="facebook"/></a></li>
                    <li><a href="#"><img src="../../static/images/twitter.png" title="Twiiter"/></a></li>
                    <li><a href="#"><img src="../../static/images/rss.png" title="Rss"/></a></li>
                    <li><a href="#"><img src="../../static/images/gpluse.png" title="Google+"/></a></li>
                </ul>
                <p>Design by <a href="#">Maple</a></p>
            </div>
        </div>
    </div>
</div>
<!---End-wrap--->
</body>
<script src="../../static/js/jquery-3.3.1.min.js"></script>
<script src="../../static/js/common.js"></script>
<script>
    $(function () {
        $("#li_account").css("display", "none")
        $("#li_login").empty().append("登录")

    })

    $("#btn_login").click(function () {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "doLogin",
            data: {
                username: $("#input_account").val(),
                password: $("#input_password").val(),
                userType: 0
            },
            success: function (data) {
                if (data.id != -1) {
                    jumpUrl("/")
                }
            },
            error: function (error) {
                if(error.status == 400){
                    alert("账号密码错误")
                } else{
                    alert("系统错误")
                }
            }
        })
    })

</script>
</html>

