<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>卡其汽车4S店管理系统</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--<link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>-->

</head>
<body>

<div class="modal fade" tabindex="-1" role="dialog" id="addModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">谢谢参与</h4>
            </div>
            <div class="modal-body">
                <div class="panel admin-panel margin-top">
                    <div class="body-content">
                        <form method="post" class="form-x" action="">
                            <div class="form-group">
                                <div id="user_score">
                                    请点击右下角的“抽奖”按钮抽取积分奖励
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success" id="btn-insert">抽奖</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!---start-wrap--->
<div class="wrap">
    <!---start-header--->
    <div class="header">
        <!---start-top-header--->
        <div class="top-header" style="display: none;">
            <div class="top-header-left">
                <ul>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Specials</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="top-header-right">
                <ul>
                    <li><a href="#">CURRENCY:</a></li>
                    <li>
                        <select>
                            <option>Dollar</option>
                            <option>Euro</option>
                            <option>Pound</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="sub-header" style="margin-top: 24px;">
            <div class="logo">
                <a href="index.html"><img src="../../static/images/logo.png" title="logo"/></a>
            </div>
            <div class="sub-header-right">
                <ul>
                    <li><a id="li_login">登录</a></li>
                    <li><a id="li_account">我的账户</a></li>
                    <li><a id="li_shopping_car">购物车 <img src="../../static/images/cart.png" title="cart"/></a></li>
                </ul>
                <!--<input type="text"><input type="submit" value="查找"/>-->
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="top-nav">
            <ul>
                <li><a id="li_home">主页</a></li>
                <li><a id="li_news">最新资讯</a></li>
                <li><a id="li_score">积分商城</a></li>
                <li><a id="li_car_fix">车辆维护</a></li>
                <li><a id="li_question">咨询服务</a></li>
                <li><a id="li_report">问卷调查</a></li>
                <!--<li><a href="login.html">Feedback</a></li>-->
                <div class="clear"></div>
            </ul>
        </div>
        <!---end-top-header--->
        <!---End-header--->
    </div>
    <div class="content">
        <div class="contact">
            <div class="section group">
                <div class="col span_1_of_3">
                    <div class="contact_info">
                        <h3>卡其汽车4S店管理系统</h3>
                        <img src="../../static/images/11.jpg" width="100%" height="180" />
                    </div>
                    <!--<div class="company_address">-->
                        <!--<h3>Company Information :</h3>-->
                        <!--<p>500 Lorem Ipsum Dolor Sit,</p>-->
                        <!--<p>22-56-2-9 Sit Amet, Lorem,</p>-->
                        <!--<p>USA</p>-->
                        <!--<p>Phone:(00) 222 666 444</p>-->
                        <!--<p>Fax: (000) 000 00 00 0</p>-->
                        <!--<p>Email: <span>info@mycompany.com</span></p>-->
                        <!--<p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>-->
                    <!--</div>-->
                </div>
                <div class="col span_2_of_3">
                    <div class="contact-form">
                        <h5>问卷调查</h5>
                        <form>
                            <div style="padding: 15px;">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">1. 您最需要汽车销售商提供那些方面的服务</label>
                                    <div class="radio" id="exampleInputEmail1">
                                        <label>
                                            <input type="radio" name="optionsRadios1" value="A.售前服务">
                                            A.售前服务 </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios1" value="B.代办手续">
                                            B.代办手续 </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios1" value="C.保养维修">
                                            C.保养维修 </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios1" value="D.咨询服务">
                                            D.咨询服务 </label>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="exampleInputEmail2">2.你喜欢一下哪种购车的优惠方式？</label>
                                    <div class="radio" id="exampleInputEmail2">
                                        <label>
                                            <input type="radio" name="optionsRadios2" value="A.赠送燃油消费卷">
                                            A.赠送燃油消费卷
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios2" value="B.降价让利">
                                            B.降价让利 </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios2" value="C.维修保养优惠">
                                            C.维修保养优惠 </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios2" value="D.保险优惠">
                                            D.保险优惠 </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail3">3.影响您现在马上购车的最主要原因是什么？</label>
                                    <div class="radio" id="exampleInputEmail3">
                                        <label>
                                            <input type="radio" name="optionsRadios3" value="A.经济收入">
                                            A.经济收入 </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios3" value="B.汽车价格">
                                            B.汽车价格
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios3" value="C.使用环境">
                                            C.使用环境
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios3" value="D.限制政策">
                                            D.限制政策
                                        </label>
                                    </div>

                                </div>


                                <div class="form-group">
                                    <label for="exampleInputEmail4">4.您最近半年是否有买车计划？</label>
                                    <div class="radio" id="exampleInputEmail4">
                                        <label>
                                            <input type="radio" name="optionsRadios4" value="A.是">
                                            A.是
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios4" value="B.否">
                                            B.否
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail5">5. 对我们的店意见：</label>
                                    <input type="email" class="form-control" id="exampleInputEmail5" placeholder="...">
                                </div>

                            </div>

                            <button id="btn_login" type="button">确定</button>


                        </form>
                        <!--<iframe src="../reportDemo.html" height="550px" width="400px"></iframe>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer">
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h3>INFORMATION</h3>
                <ul>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">位置信息</a></li>
                    <li><a href="#">联系方式</a></li>
                    <li><a href="#">团队精神</a></li>
                    <li><a href="#">法律责任</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h3>OUR OFFERS</h3>
                <ul>
                    <li><a href="#">最新产品</a></li>
                    <li><a href="#">今日特价</a></li>
                    <li><a href="#">全部产品</a></li>
                    <li><a href="#">维护套餐</a></li>
                    <li><a href="#">维护预约</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h3>YOUR ACCOUNT</h3>
                <ul>
                    <li><a href="#">我的账号</a></li>
                    <li><a href="#">会员信息</a></li>
                    <li><a href="#">积分详情</a></li>
                    <li><a href="#">收货地址</a></li>
                    <li><a href="#">我的购物车</a></li>
                </ul>
            </div>
            <div class="col_1_of_4 span_1_of_4 footer-lastgrid">
                <h3>Get in touch</h3>
                <ul>
                    <li><a href="#"><img src="../../static/images/facebook.png" title="facebook"/></a></li>
                    <li><a href="#"><img src="../../static/images/twitter.png" title="Twiiter"/></a></li>
                    <li><a href="#"><img src="../../static/images/rss.png" title="Rss"/></a></li>
                    <li><a href="#"><img src="../../static/images/gpluse.png" title="Google+"/></a></li>
                </ul>
                <p>Design by <a href="#">Maple</a></p>
            </div>
        </div>
    </div>
</div>
<!---End-wrap--->
</body>
<script src="../../static/js/jquery-3.3.1.min.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script>
    $(function () {
        getShoppingCartCount()

        $("#btn_login").off("click").click(function () {
            saveReport()
        })
    })

    function saveReport() {

        var reportArray = new Array()
        reportArray.push($("input[name='optionsRadios1']:checked").val())
        reportArray.push($("input[name='optionsRadios2']:checked").val())
        reportArray.push($("input[name='optionsRadios3']:checked").val())
        reportArray.push($("input[name='optionsRadios4']:checked").val())
        reportArray.push($("#exampleInputEmail5").val())

//        debugger

        $.ajax({
            type: "post",
            dataType: "json",
            url: "../report/saveReport",
            data: {
                reportArray: JSON.stringify(reportArray)
            },
            success: function () {
                $("#addModel").modal('show');
                $("#btn-insert").off().click(function () {
                    $.post("../report/addIntegral", function (data) {
                        $("#user_score").html("感谢您填写问卷，您已获得随机积分：" + data);
                        $("#btn-insert").remove();
                    })
                });
            },
            error: function () {
                alert("提交失败，系统异常")
            }
        })
    }
</script>
</html>

