<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Spareparts Website Template | carlights :: Maple</title>
    <link href="./static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--<link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>
<!---start-wrap--->
<div class="wrap">
    <!---start-header--->
    <div class="header">
        <!---start-top-header--->
        <div class="top-header" style="display: none;">
            <div class="top-header-left">
                <ul>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Specials</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="top-header-right">
                <ul>
                    <li><a href="#">CURRENCY:</a></li>
                    <li>
                        <select>
                            <option>Dollar</option>
                            <option>Euro</option>
                            <option>Pound</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="sub-header" style="margin-top: 24px;">
            <div class="logo">
                <a href="index.html"><img src="../../static/images/logo.png" title="logo"/></a>
            </div>
            <div class="sub-header-right">
                <ul>
                    <li><a id="li_login">登录</a></li>
                    <li><a id="li_account">我的账户</a></li>
                    <li><a id="li_shopping_car">购物车 <img src="../../static/images/cart.png" title="cart"/></a></li>
                </ul>
                <!--<input type="text"><input type="submit" value="查找"/>-->
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="top-nav">
            <ul>
                <li><a id="li_home">主页</a></li>
                <li><a id="li_news">最新资讯</a></li>
                <li><a id="li_score">商城</a></li>
                <li><a id="li_car_fix">车辆维护</a></li>
                <li><a id="li_question">咨询服务</a></li>
                <li><a id="li_report">问卷调查</a></li>
                <!--<li><a href="login.html">Feedback</a></li>-->
                <div class="clear"></div>
            </ul>
        </div>
        <!---end-top-header--->
        <!---End-header--->
    </div>

    <!--content-->
    <div class="content" style="margin-top: -30px;">
        <div th:if="${shoppingCart != null &amp;&amp; shoppingCart.size() > 0}" class="contact">
            <h4 style="padding-top: 20px;">购物车结算</h4>
            <table class="table table-striped" style="padding-top: 10px">
                <thead>
                <tr>
                    <th style="font-size: 17px;">商品名称</th>
                    <th style="font-size: 17px;">数量</th>
                    <th style="font-size: 17px;">单价</th>
                    <th style="font-size: 17px;">折扣</th>
                    <th style="font-size: 17px;">总价</th>
                    <th style="font-size: 17px;">操作</th>
                </tr>
                </thead>
                <tbody id="table-body">
                <tr th:each="data : ${shoppingCart}">
                    <td>
                        <div><strong th:text="${data.name}"></strong></div>
                    </td>
                    <td>
                        <button class="btn-default btn-xs" th:onclick="'javascript:updateCount('+${data.id}+','+${data.count - 1}+');'">-</button>
                        <label th:text="${data.count}"></label>
                        <button class="btn-default btn-xs" th:onclick="'javascript:updateCount('+${data.id}+','+${data.count + 1}+');'">+</button>
                    </td>
                    <td th:text="${data.price}"></td>
                    <td th:text="${data.discount / 10 + '折'}"></td>
                    <td th:text="${#numbers.formatDecimal(data.count * data.price * data.discount / 100, 0,2)}"></td>
                    <td>
                        <button class="btn-danger btn-sm" th:onclick="'javascript:del('+${data.id}+');'">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th rowspan="2" style="font-size: 17px;">结算</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>订单原价：</strong></td>
                    <td th:text="${sum}" id="td_sum"></td>
                </tr>
                <tr>
                    <td><strong>折扣优惠：</strong></td>
                    <td th:text="${#numbers.formatDecimal(deposit, 0,2)}" id="tb_discount_sum"></td>
                </tr>
                <tr>
                    <td><strong>账单总计：</strong></td>
                    <td th:text="${sum - deposit}" id="tb_real_sum"></td>
                </tr>
                <tr>
                    <td><strong>应付定金：</strong></td>
                    <td th:text="${#numbers.formatDecimal((sum - deposit) * 0.1, 0,0)}" id="tb_my_pay"></td>
                </tr>
                <tr>
                    <td><strong>积分抵扣(100积分=1元)</strong>
                    <td>
                        <label for="use_score"></label>
                        <input id="use_score" type="number" min="0" th:max="${user.integral}" step="100" value="0" onchange="scoreChange()" style="width: 70px;"/>
                    </td>
                </tr>
                <tr>
                    <td><strong>账户余额</strong>
                    </td>
                    <td th:text="${user.balance}" id="tb_my_balance"></td>
                </tr>
                <tr>
                    <td><strong>账户积分</strong>
                    </td>
                    <td th:text="${user.integral}" id="tb_my_score"></td>
                </tr>
                </tbody>
            </table>

            <div>
                <h4>请填写您的个人信息后支付</h4>
                <label><input id="user_name" type="text" placeholder="姓名" /></label>
                <label><input id="user_phone" type="text" placeholder="手机号" onkeyup="value=value.replace(/[^\d]/g,'')" /></label>
                <label><input id="user_address" type="text" placeholder="联系地址" /></label>
            </div>

            <div class="text-right">
                <label for="tb_pay_money">余额扣除:</label><label id="tb_pay_money" th:text="${#numbers.formatDecimal((sum - deposit) * 0.1, 0,0)}"></label>&nbsp;
                <label for="tb_pay_integral">积分扣除:</label><label id="tb_pay_integral">0</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" onclick="buyAllGoods()"><i class="fa fa-dollar"></i>支付定金</button>
            </div>
        </div>
        <div th:if="${shoppingCart == null || shoppingCart.size() == 0}" class="contact">
            <h4 style="padding-top: 40px;">哦NO，购物车空空如也！</h4>
            <table class="table table-striped" style="padding-top: 10px">

            </table>
            <br/>
            <h4 style="padding-top: 10px;">去<a href="../goods">商城</a>逛逛</h4>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </div>
    </div>
</div>

<div class="clear"></div>
<!--footer-->
<div class="footer">
    <div class="section group">
        <div class="col_1_of_4 span_1_of_4">
            <h3>INFORMATION</h3>
            <ul>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">位置信息</a></li>
                <li><a href="#">联系方式</a></li>
                <li><a href="#">团队精神</a></li>
                <li><a href="#">法律责任</a></li>
            </ul>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <h3>OUR OFFERS</h3>
            <ul>
                <li><a href="#">最新产品</a></li>
                <li><a href="#">今日特价</a></li>
                <li><a href="#">全部产品</a></li>
                <li><a href="#">维护套餐</a></li>
                <li><a href="#">维护预约</a></li>
            </ul>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <h3>YOUR ACCOUNT</h3>
            <ul>
                <li><a href="#">我的账号</a></li>
                <li><a href="#">会员信息</a></li>
                <li><a href="#">积分详情</a></li>
                <li><a href="#">收货地址</a></li>
                <li><a href="#">我的购物车</a></li>
            </ul>
        </div>
        <div class="col_1_of_4 span_1_of_4 footer-lastgrid">
            <h3>Get in touch</h3>
            <ul>
                <li><a href="#"><img src="./static/images/facebook.png" title="facebook"/></a></li>
                <li><a href="#"><img src="./static/images/twitter.png" title="Twiiter"/></a></li>
                <li><a href="#"><img src="./static/images/rss.png" title="Rss"/></a></li>
                <li><a href="#"><img src="./static/images/gpluse.png" title="Google+"/></a></li>
            </ul>
            <p>Design by <a href="#">Maple</a></p>
        </div>
    </div>
</div>
</div>
<!---End-wrap--->
</body>
<script src="../../static/js/jquery-3.3.1.min.js"></script>
<script src="../../static/js/common.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/admin.js"></script>
<script src="../../static/js/jquery.form.js"></script>
<script>
    $(function () {
        getShoppingCartCount()
    })

    function del(id) {
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../shoppingCart/delete",
            data: {
                goodsId: id,
            },
            success: function () {
                window.location.href = '../shoppingCart'
            },
            error: function () {
                alert("系统错误")
            }
        })
    }

    function updateCount(data, count) {
        if (count < 1) {
            alert("商品件数不能小于1")
            return false;
        }
        $.ajax({
            type: "post",
            dataType: "json",
            url: "../shoppingCart/updateCount",
            data: {
                goodsId: data,
                count: count
            },
            success: function () {
                window.location.href = '../shoppingCart'
            },
            error: function () {
                alert("系统错误")
            }
        })
    }

    function buyAllGoods() {
        const balance = Number($("#tb_my_balance").text());
        const money = Number($("#tb_pay_money").text());
        if (money > balance) {
            alert("你的余额不足，请充值");
            return false;
        }

        $.ajax({
            type: "post",
            dataType: "json",
            url: "../shoppingCart/buyAllGoods",
            data: {
                name: $("#user_name").val(),
                phone: $("#user_phone").val(),
                address: $("#user_address").val(),
                money: money,
                integral: Number($("#tb_pay_integral").text())
            },
            success: function (data) {
                if (-1 === data) {
                    alert("余额不足,请充值")
                } else {
                    window.location.href = '../goods'
                }
            },
            error: function () {
                alert("系统错误")
            }
        })
    }

    function scoreChange() {
        const score = Number($("#use_score").val());
        const pay = Number($("#tb_my_pay").text());
        const money = pay - score / 100;
        if (money < 0) {
            alert("支付金额不能小于0");
            return false;
        }
        $("#tb_pay_money").text(money);
        $("#tb_pay_integral").text(score);
    }

</script>
</html>

