<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maple.web.carserver.mapper.ReportEntityMapper">
    <resultMap id="BaseResultMap" type="com.maple.web.carserver.domain.ReportEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="tb_user_id" jdbcType="INTEGER" property="tbUserId"/>
        <result column="question_id" jdbcType="INTEGER" property="questionId"/>
        <result column="answer" jdbcType="VARCHAR" property="answer"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, tb_user_id, question_id, answer
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_report
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tb_report
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.maple.web.carserver.domain.ReportEntity">
        insert into tb_report (id, tb_user_id, question_id,
        answer)
        values (#{id,jdbcType=INTEGER}, #{tbUserId,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER},
        #{answer,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.maple.web.carserver.domain.ReportEntity">
        insert into tb_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="tbUserId != null">
                tb_user_id,
            </if>
            <if test="questionId != null">
                question_id,
            </if>
            <if test="answer != null">
                answer,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="tbUserId != null">
                #{tbUserId,jdbcType=INTEGER},
            </if>
            <if test="questionId != null">
                #{questionId,jdbcType=INTEGER},
            </if>
            <if test="answer != null">
                #{answer,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.maple.web.carserver.domain.ReportEntity">
        update tb_report
        <set>
            <if test="tbUserId != null">
                tb_user_id = #{tbUserId,jdbcType=INTEGER},
            </if>
            <if test="questionId != null">
                question_id = #{questionId,jdbcType=INTEGER},
            </if>
            <if test="answer != null">
                answer = #{answer,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.maple.web.carserver.domain.ReportEntity">
        update tb_report
        set tb_user_id = #{tbUserId,jdbcType=INTEGER},
        question_id = #{questionId,jdbcType=INTEGER},
        answer = #{answer,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getReportResult" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_report
    </select>

    <select id="selectUserList" resultType="com.maple.web.carserver.domain.UserEntity">
        SELECT
          tb_user.id,
          username
        FROM tb_report
          JOIN tb_user ON tb_user.id = tb_report.tb_user_id
          GROUP BY tb_report.tb_user_id
        LIMIT #{start},8
    </select>

    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_report
        where tb_user_id = #{user_id}
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT count(*)
        FROM tb_report
        WHERE question_id = 1
    </select>

</mapper>