<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maple.web.carserver.mapper.UserEntityMapper">
  <resultMap id="BaseResultMap" type="com.maple.web.carserver.domain.UserEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="integral" jdbcType="DOUBLE" property="integral" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
    <result column="is_vip" jdbcType="TINYINT" property="isVip" />
    <result column="is_admin" jdbcType="TINYINT" property="isAdmin" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, username, user_pwd, integral, balance, is_vip, is_admin, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.maple.web.carserver.domain.UserEntity">
    insert into tb_user (
      <include refid="Base_Column_List"/>
    )
    values (
      #{id,jdbcType=INTEGER},
      #{username,jdbcType=VARCHAR},
      #{userPwd,jdbcType=VARCHAR},
      #{integral,jdbcType=DOUBLE},
      #{balance,jdbcType=DOUBLE},
      #{isVip,jdbcType=TINYINT},
      #{isAdmin,jdbcType=TINYINT},
      #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.maple.web.carserver.domain.UserEntity">
    update tb_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=DOUBLE},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DOUBLE},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=TINYINT},
      </if>
      <if test="isAdmin != null">
        is_admin = #{isAdmin,jdbcType=TINYINT},
      </if>
        create_time = create_time
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectByUsername" parameterType="java.lang.String" resultType="com.maple.web.carserver.domain.UserEntity">
    select * from tb_user where username = #{username}
  </select>

    <select id="doLogin" parameterType="Map" resultType="com.maple.web.carserver.domain.UserEntity">
    select * from tb_user where username = #{username} and user_pwd = #{password} and is_admin = #{isAdmin}
  </select>

    <insert id="doRegister" parameterType="Map">
    insert into tb_user(username, user_pwd, is_vip, is_admin) value (#{username}, #{password}, 0, 0)
  </insert>

  <select id="selectUserByPageNumber" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 21 16:07:47 CST 2018.
    -->
    select
    <include refid="Base_Column_List"/>
    from tb_user
    limit #{pageNumber}, 8
  </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from tb_user
    </select>

</mapper>